* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: "Gochi Hand", cursive;
}

header {
  top: 50px;
  left: 50%;
  transform: translateX(-50%) scale(1);
  width: 35%;
  z-index: 100;
  transition: width 0.5s ease;
  position: fixed;
}

body {
  overflow-x: hidden;
  width: 100%;
}

nav {
  background: rgba(32, 34, 36, 0.35);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 12px 30px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  width: 180px;
  object-fit: contain;
  cursor: pointer;
  opacity: 0.95;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
  transition: gap 0.4s ease;
}

nav ul li {
  background-color: #1e2d29;
  padding: 10px 20px;
  border-radius: 20px;
  color: #8b9a9e;
  font-size: 1.5rem;
}

nav ul li:hover {
  cursor: pointer;
}

header:hover {
  width: 55%;
}

header:hover nav ul li {
  gap: 40px;
}

.btn .btn-login {
  cursor: pointer;
  transition: all ease-in 0.1s;
}

.one {
  position: relative;
}

.one .bg-img {
  width: 300px;
  position: fixed;
  object-fit: fill;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

.btn-container {
  position: absolute;
  left: 232px;
  top: 644px;
  display: flex;
  gap: 50px;
}

.btn {
  position: absolute;
  padding: 10px 20px;
  border-radius: 20px;
  color: #8b9a9e;
  font-size: 3rem;
  letter-spacing: 3px;
  cursor: pointer;
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in 0.1s;
  background-color: #18251e;
  backdrop-filter: blur(12px);
  z-index: 2;
}

.btn-container,
.btn-container2 {
  position: absolute;
  z-index: 1;
}

.shadow-div {
  position: absolute;
  content: "";
  background-color: #171c1d;
  padding: 10px 20px;
  border-radius: 20px;
  width: 200px;
  height: 70px;
  transition: all ease-in 0.1s;
  z-index: -2;
}

.btn:hover {
  transform: translate(5px, -5px);
  transition: all ease-in 0.1s;
}

.btn-container:has(.btn:hover) .shadow-div {
  transform: translate(-5px, 5px);
  transition: all ease-in 0.1s;
}

.btn:active {
  transform: translate(0px, 0px);
  transition: all ease-in 0.1s;
}

.btn-container:has(.btn:active) .shadow-div {
  transform: translate(-0px, 0px);
  transition: all ease-in 0.1s;
}

.btn-container2 {
  position: absolute;
  left: 493px;
  top: 644px;
  display: flex;
  gap: 50px;
  z-index: 2;
}

.btn {
  position: absolute;
  background-color: rgb(24, 37, 30, 0.35);
  padding: 10px 20px;
  border-radius: 20px;
  color: #8b9a9e;
  font-size: 3rem;
  letter-spacing: 3px;
  cursor: pointer;
  width: 200px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in 0.1s;
}

.shadow-div {
  position: absolute;
  content: "";
  background-color: #171c1d;
  padding: 10px 20px;
  border-radius: 20px;
  width: 200px;
  height: 70px;
  transition: all ease-in 0.1s;
  z-index: -2;
}

.btn:hover {
  transform: translate(5px, -5px);
  transition: all ease-in 0.1s;
}

.btn-container2:has(.btn:hover) .shadow-div {
  transform: translate(-5px, 5px);
  transition: all ease-in 0.1s;
}

.btn:active {
  transform: translate(0px, 0px);
  transition: all ease-in 0.1s;
}

.btn-container:has(.btn2:active) .shadow-div {
  transform: translate(-0px, 0px);
  transition: all ease-in 0.1s;
}

.main-hero-text {
  font-size: 90px;
  display: inline-block;
  position: absolute;
  top: 480px;
  left: 168px;
  color: #8b9a9e;
  width: max-content;
}

.desktop-background-image {
  display: inline-block;
}

.tablet-background-image,
.phone-background-image {
  display: none;
}

@media (max-width: 768px) and (min-width: 481px) {
  /* tablet */
  body {
    overflow-x: hidden;
    width: 100%;
  }

  header {
    width: 180px;
    transition: width 1s cubic-bezier(0.22, 1, 0.36, 1);
  }

  header:hover {
    width: 180px;
  }
  header.expanded {
    width: min(85%, 700px);
  }

  header.expanded nav ul {
    gap: 25px;
  }

  nav > a {
    pointer-events: none;
  }

  nav ul li {
    display: none;
  }

  header.expanded nav ul li {
    display: list-item;
  }

  nav img {
    width: 150px;
    object-fit: contain;
    cursor: pointer;
    opacity: 0.95;
    height: 100%;
  }

  nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
    transition: gap 0.4s ease;
  }

  nav {
    justify-content: center;
  }

  header.expanded nav {
    justify-content: space-between;
  }

  nav ul li {
    background-color: #1e2d29;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.1rem;
    opacity: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
    pointer-events: none;
    transition: all 0.3s ease;
  }

  header.expanded nav ul li {
    opacity: 1;
    width: auto;
    padding: 10px 20px;
    pointer-events: auto;
  }

  .main-hero-text {
    position: absolute;
    top: 320px;
    left: 53%;
    transform: translateX(-50%);
    width: 600px;
    text-align: center;
    font-size: 4rem;
  }

  .btn-container {
    top: 470px;
    left: 50%;
    transform: translateX(-220px);
  }

  .btn-container2 {
    top: 470px;
    left: 50%;
    transform: translateX(20px);
  }

  .main-part {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .one .bg-img {
    position: fixed;
    top: 0;
    left: -100;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .desktop-background-image {
    display: none;
  }

  .tablet-background-image {
    display: inline-block;
    position: fixed;
    top: 0;
    left: -100;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

@media (max-width: 650px) {
  body {
    overflow: hidden;
  }
  .main-part {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main-hero-text {
    font-size: 3rem;
  }

  .btn-container {
    width: 150px;
    height: 55px;
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  body {
    overflow-x: hidden;
  }

  header {
    width: 140px;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    transition: width 0.5s ease;
  }

  header:hover {
    width: 140px;
  }

  header.expanded {
    width: 95%;
  }

  nav {
    justify-content: center;
    padding: 12px 15px;
    height: 70px;
    align-items: center;
  }

  header.expanded nav {
    justify-content: space-between;
  }

  nav > a {
    pointer-events: none;
  }

  header.expanded nav > a {
    pointer-events: auto;
  }

  nav img {
    width: 126px;
    height: auto;
    align-items: center;
  }

  nav ul {
    display: flex;
    align-items: center;
    gap: 6px;
  }

  nav ul li {
    opacity: 0;
    width: 0;
    padding: 0;
    overflow: hidden;
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: 1.4rem;
    align-items: center;
    text-align: center;
    transition:
      opacity 0.4s ease,
      width 0.4s ease,
      padding 0.4s ease;
  }

  header.expanded nav ul li {
    white-space: nowrap;
    width: max-content;
    text-align: center;
    opacity: 1;
    padding: 8px 12px;
    pointer-events: auto;
    align-items: center;
  }
  nav > a img {
    padding: 20px 0 10px 0;
  }

  header.expanded nav > a img {
    padding: 20px 0 10px 0;
  }
  .main-hero-text {
    width: 320px;
    text-align: center;
    top: 260px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.5rem;
  }

  .btn {
    width: 150px;
    height: 55px;
    font-size: 2rem;
  }

  .shadow-div {
    width: 150px;
    height: 55px;
  }

  .btn-container {
    top: 410px;
    left: 50%;
    transform: translateX(-170px);
  }

  .btn-container2 {
    top: 410px;
    left: 50%;
    transform: translateX(20px);
  }

  .desktop-background-image,
  .tablet-background-image {
    display: none;
  }

  .bg-img {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
  }

  .phone-background-image {
    display: inline-block;
    position: fixed;
    top: 0;
    left: -100;
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: -1;
    object-position: center;
  }
}
