:root {
  --card-bg: rgb(34, 36, 38);
  --container-bg: rgb(30, 45, 41);

  --text-color: rgb(97, 117, 119);
  --keyword-text-color: rgb(81, 131, 136);

  --random-bg: none;

  --font-style: "Gochi Hand", cursive;

  --active-class: rgb(55, 82, 75);
  --container-bg-active: rgb(43, 63, 58);

  --text-color-hover: rgb(92, 148, 153);
}
